/* Type selectors (1 specificity) */

ul {
    color: blue;
}

body {
    color: red;
}

p {
    color: green;
}

/* Class selector (10 specificity) */

.highlight {
    color: yellow;
}

input[type="text"] {

}

a:hover {
    
}

/* ID selector (100 specificity) */

#special {
    color: pink;
}