h1 {
    color: #FF8000;
    /* border-color: purple;
    border-width: 5px;
    border-style: solid; */
    border: 2px dashed rgb(255, 100, 80);
}

li {
    color: rgb(40, 150, 10);
}

h4 {
    background: rgb(255, 100, 80);
}

body {
    background: pink;
    /* background: url(https://www.babybedding.com/images/fabric/gray-woodgrain-fabric_large.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}